<div class="right-panel">
  <div class="page-header">
    <h3><%= @indication.name_eng %></h3>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div><%= render partial: "field", locals: { indication: @indication} %></div>
    </div>
  </div>
    <div class="button-container">
    <%= link_to "Back to index", indications_path, class: "btn btn-default" %>
    <%= link_to "Edit", edit_indication_path(@indication), class: "btn btn-info" %>
  </div>

</div>
