<div class="col-md-10 col-xs-12 col-sm-9">
  <div id="point-edit">
    <div class="page-header">
      <h3>Edit Point</h3>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render "form", point: @point%>
      </div>
    </div>
  </div>
</div>
