<div class="right-panel">
  <div id="subindication-edit">
    <div class="page-header">
      <h3>Edit Sub Indication</h3>
    </div>

    <div class="row">
      <div class="col-md-10">
        <%= render "form", subindication: @subindication%>
      </div>
    </div>
  </div>
</div>
