<div class="right-panel">
  <div class="page-header">
    <h3>Edit User Account</h3>
  </div>
  <div id="user-edit">
    <div class="row">
      <%= render "form", user: @user%>
    </div>
  </div>

</div>
