<div class="right-panel">
  <div class="page-header">
    <h3><%= @user.name %></h3>
  </div>

  <div class="panel panel-default text-center">
    <div class="content-form"><%= render partial: "user_field", locals: { user: @user} %></div>
  </div>
    <div class="button-padding text-center">
      <%= link_to "Back to index", users_path, class: "btn btn-default" %>
      <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>
    </div>
</div>
