<div class="right-panel">
  <div class="page-header">
    <h3>Edit Disease</h3>
  </div>

  <div class="row">
    <div class="col-md-10">
      <%= render "form", {disease: @disease}%>
    </div>
  </div>
</div>
