<div class="right-panel">
  <div class="page-header">
    <h1>Categories</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <%= react_component 'Categories', { data: @categories } %>
      </div>
    </div>
  </div>
</div>
